body {
  background-color: rgb(255, 238, 161);
  margin: 0;
  margin-top: 50px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  background-color: #ffffff;
  width: 800px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
}

.slider-container {
  overflow: hidden;
}

.slider-track {
  display: flex;
  background-color: rgb(207, 255, 103);

  user-select: none;
  list-style: none;
  margin: 0;
  padding: 0;
  //   transform: translateX(-800px);
  transition: 0.2s;
}

.slider-item {
  //   border: 1px solid red;
  min-width: 800px;
  height: 400px;
  background-size: cover;
  &.item-1 {
    background-image: url(../img/1.webp);
  }
  &.item-2 {
    background-image: url(../img/2.webp);
  }
  &.item-3 {
    background-image: url(../img/3.webp);
  }

  &.item-4 {
    background-image: url(../img/4.jpeg);
  }
}

.slider-buttons {
  text-align: center;
  margin-top: 30px;

  & button:first-child {
    margin-right: 30px;
  }
}
